<div flex layout="row" class="product-page" layout-align="start center">
    <div layout="row">
        <div layout="row" class="product-details">
            <div layout="column">
                <div class="product-name">
                    {{product.name}}
                </div>
                <label class="current-price">Current price: {{currentPrice}} $</label>
                <div>
                    <b>Seller: </b> 
                    <a href="">
                        {{product.seller.fullName}}
                    </a>
                </div>
                <div>
                    <span>
                        <b>Expired Date: </b>
                        <span ng-class="{'expierd-date': isExpierd}">{{dateFormat(product.endDate)}}</span>
                    </span> 
                </div>
                <p style="width: 500px;">{{product.content}}</p>
                <div layout="row">
                    <md-button style="margin: 0 auto" class="md-fab md-primary md-hue-2" aria-label="join" ng-click="joinGroup()" ng-disabled="isBuyer || isSeller || isExpierd">
                        <md-icon class="material-icons">group_add</md-icon>
                    </md-button>
                </div>
                <div style="margin-top: 10px; display: inline;">
                    <label>Number of buyers: {{product.buyers.length}}</label>
                    <md-button ng-click="showBuyers()">Buyers details</md-button>
<!--                    <div style="display: inline; margin-left: 120px; color: deepskyblue;">-->
<!--                        <i class="material-icons">thumb_up</i>-->
<!--                        <i class="material-icons">thumb_down</i>-->
<!--                    </div>-->
                </div>
                <div class="discount" layout="row">
                    <div class="amount" layout="column">
                        <span class="tabel-header-cell">Number of people</span>
                        <div class="tabel-cell" ng-class="{ 'currentDiscount' : discount.isCurrent}" ng-repeat="discount in product.discounts">
                            {{discount.usersAmount}}
                        </div>
                    </div>
                    <div class="dis" layout="column">
                        <span class="tabel-header-cell">Discount</span>
                        <div class="tabel-cell" ng-class="{ 'currentDiscount' : discount.isCurrent}" ng-repeat="discount in product.discounts">
                            {{discount.precent}} %
                        </div>
                    </div>
                    <div class="price" layout="column">
                        <span class="tabel-header-cell">New price</span>
                        <div class="tabel-cell" ng-class="{ 'currentDiscount' : discount.isCurrent}" ng-repeat="discount in product.discounts">
                            {{calcPrice(discount.precent)}} $
                        </div>
                    </div>
                </div>
                
                <div class="reviews" layout="column">
                    <div class="new-review" layout="row" layout-align="start center">
                        <md-input-container style="width: 100%; margin-top: 40px">
                            <label>write a review about the seller</label>
                            <input ng-model="newReview.content">
                        </md-input-container>
                        <star-rating ng-model="newReview.rating" on-rating-select="rating.rateFunction(rating)"></star-rating>
 
                        <md-icon class="material-icons">send</md-icon>
                    </div>
                </div>
            </div>
            <img class="product-img" src="{{product.img}}" />
        </div>
        <div class="related-products" layout="column">
            <!--            <span class="product-name">Related Products</span>-->
        </div>
    </div>
</div>