.product-page .product-name {
    color: #03A9F4;
    font-size: 48px;
    margin-bottom: 20px;
}

.product-page .discount {
    margin: 20px 10px;
}

.current-price {
    color: red;
    font-size: 25px;
}

.product-page .tabel-cell {
    border-style: solid; 
    border-width: thin;
    border-color: lightgray;
    padding: 10px 35px;
}

.currentDiscount {
    font-weight: bold;
    background-color: rgba(2, 119, 189, 0.76);
    color: white;
}

.product-page .tabel-header-cell {
    color: #03A9F4;
    border-style: solid; 
    border-width: thin;
    border-color: lightgray;
    padding: 10px 35px;
}

.product-page .product-details {
    padding: 0 25px;
    margin: 0 200px;
}

.product-page .expierd-date {
    color: red;
}

.buyers-dialog {
    width: 400px;
    height: 500px;
}
.buyers-dialog .dialog-toolBar {
    background-color: #FF9100;
    color: white;
}

.buyers-dialog .buyer {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
    margin: 0 5px;
    height: 48px;
    padding: 5px;
}