<div flex layout="row" class="product-page" layout-align="start center">
    <div layout="row">
        <div layout="row" class="product-details">
            <div layout="column">
                <div class="product-name">
                    {{product.name}}
                </div>
                <label class="current-price">Current price: 33.75 $</label>
                <div>
                    Seller:
                    <a href="">
                        John snow
                    </a>
                </div>
                <p style="width: 500px;">{{product.content}}</p>
                <div layout="row">
                    <md-button style="margin: 0 auto" class="md-fab md-primary md-hue-2" aria-label="join" ng-click="joinGroup()">
                        <md-icon class="material-icons">group_add</md-icon>
                    </md-button>
                </div>
                <div style="margin-top: 10px">
                    <label>Number of buyers: {{numberOfBuyers}}</label>
                    <a href=""> Buyers details</a>
                </div>

                <div class="discount" layout="row">
                    <div class="amount" layout="column">
                        <span class="tabel-header-cell">Number of people</span>
                        <div class="tabel-cell" ng-class="{ 'currentDiscount' : discount.isCurrent}" ng-repeat="discount in product.discount">
                            {{discount.amount}}
                        </div>
                    </div>
                    <div class="dis" layout="column">
                        <span class="tabel-header-cell">Discount</span>
                        <div class="tabel-cell" ng-class="{ 'currentDiscount' : discount.isCurrent}" ng-repeat="discount in product.discount">
                            {{discount.dis}} %
                        </div>
                    </div>
                    <div class="price" layout="column">
                        <span class="tabel-header-cell">New price</span>
                        <div class="tabel-cell" ng-class="{ 'currentDiscount' : discount.isCurrent}" ng-repeat="discount in product.discount">
                            {{calcPrice(product.price, discount.dis)}} $
                        </div>
                    </div>
                </div>
            </div>
            <img class="product-img" src="{{product.img}}" />
        </div>
        <div class="related-products" layout="column">
            <!--            <span class="product-name">Related Products</span>-->
        </div>
    </div>
</div>