<div>
    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>משתמש חדש? הירשם</h2>
                        <form action="#">
                            <input type="text" placeholder="שם" ng-model="registerDetails.userName" />
                            <input type="email" placeholder="אימייל" ng-model="registerDetails.email" />
                            <input type="password" placeholder="סיסמא" ng-model="registerDetails.password" />
                            <button type="submit" ng-click="register()" class="btn btn-default">הירשם</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
                <div class="col-sm-2 or-button">
                    <h2 class="or">או</h2>
                </div>
                <div class="col-sm-4">
                    <div class="login-form">
                        <!--login form-->
                        <h2>התחבר לחשבון שלך</h2>
                        <form>
                            <input type="text" placeholder="שם" ng-model="loginDetails.userName" />
                            <input type="password" placeholder="סיסמא" ng-model="loginDetails.password" />
                            <span>
                                <input type="checkbox" class="checkbox">
                                השאר אותי מחובר
                            </span>
                            <button type="submit" ng-click="login()" class="btn btn-default">התחבר</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </section><!--/form-->
</div>