<div layout="column" layout-align="center center">
    <md-card class="login-card">
        <md-card-title class="login-card-title" layout-align="center center">
            <span class="login-card-title"> Login</span>
        </md-card-title>
        <md-card-content>
            <div layout="row" flex>
                <md-input-container flex>
                    <label>User Name</label>
                    <input ng-model="loginDetails.userName" flex>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <md-input-container flex>
                    <label>Password</label>
                    <input ng-model="loginDetails.password" type="password" flex>
                </md-input-container>
            </div>
            <md-button ng-click="login()" class="md-raised md-primary login-button">login</md-button>
            <md-button class="md-primary register-button" ng-click="register()">Click here to register</md-button>
        </md-card-content>
    </md-card>
</div>
