GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyClient/bin/GroupBuyClient.pdb
*.pdb
GroupBuyClient/bin/*
GroupBuyClient/bin/*.pdb
GroupBuyClient/*.csproj.user
GroupBuyClient/bin/GroupBuyClient.pdb
GroupBuyClient/*.v12.suo
GroupBuyClient/GroupBuyClient.v12.suo
GroupBuyClient/obj/Debug/*.cache
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyClient/obj/Debug/GroupBuyClient.dll
GroupBuyClient/obj/Debug/GroupBuyClient.pdb
GroupBuyServer/GroupBuyServer/bin/Newtonsoft.Json.dll
.gitignore
GroupBuyClient/bin/GroupBuyClient.dll
GroupBuyClient/bin/GroupBuyClient.pdb
GroupBuyClient/GroupBuyClient.v12.suo
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyClient/obj/Debug/GroupBuyClient.csproj.FileListAbsolute.txt
GroupBuyClient/obj/Debug/GroupBuyClient.dll
GroupBuyClient/obj/Debug/GroupBuyClient.pdb
GroupBuyClient/bower_components/*

GroupBuyServer/SeedProject/bin/*
GroupBuyServer/SeedProject/obj/*
GroupBuyServer/GroupBuyServer/bin/*
GroupBuyServer/GroupBuyServer/bin/Newtonsoft.Json.xml
GroupBuyServer/GroupBuyServer/bin/System.Net.Http.Formatting.dll
GroupBuyServer/GroupBuyServer/bin/System.Net.Http.Formatting.xml
GroupBuyServer/GroupBuyServer/bin/System.Web.Http.dll
GroupBuyServer/GroupBuyServer/bin/System.Web.Http.WebHost.dll
GroupBuyServer/GroupBuyServer/bin/System.Web.Http.WebHost.xml
GroupBuyServer/GroupBuyServer/bin/System.Web.Http.xml
GroupBuyServer/GroupBuyServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyServer/GroupBuyServer/obj/Debug/GroupBuyServer.csproj.FileListAbsolute.txt
GroupBuyServer/GroupBuyServer/obj/Debug/GroupBuyServer.csprojResolveAssemblyReference.cache
GroupBuyServer/GroupBuyServer/obj/Debug/GroupBuyServer.dll
GroupBuyServer/GroupBuyServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GroupBuyServer/GroupBuyServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GroupBuyServer/GroupBuyServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GroupBuyServer/packages/Microsoft.AspNet.WebApi.5.2.3/Microsoft.AspNet.WebApi.5.2.3.nupkg
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.dll
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.xml
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content/web.config.transform
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.dll
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/System.Web.Http.xml
GroupBuyServer/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Microsoft.AspNet.WebApi.Core.5.2.3.nupkg
GroupBuyServer/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.dll
GroupBuyServer/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/lib/net45/System.Web.Http.WebHost.xml
GroupBuyServer/packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/Microsoft.AspNet.WebApi.WebHost.5.2.3.nupkg
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
GroupBuyServer/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
GroupBuyServer/packages/repositories.config
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyClient/bin/*
GroupBuyClient/obj/*
GroupBuyServer/bin/*
GroupBuyServer/obj/*
GroupBuyClient/GroupBuyClient.v12.suo

GroupBuyServer/GroupBuyServer.v12.suo
GroupBuyClient/bin/GroupBuyClient.dll
GroupBuyClient/bin/GroupBuyClient.pdb
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyServer/GroupBuyServer/GroupBuyServer.csproj.user
GroupBuyServer/GroupBuyServer/bin/GroupBuyServer.dll
GroupBuyServer/GroupBuyServer.sln.DotSettings.user
GroupBuyServer/GroupBuyServer/bin/GroupBuyServer.dll
GroupBuyClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyServer/ElasticSearchManager/bin/Debug/ElasticSearchManager.exe
GroupBuyServer/ElasticSearchManager/bin/Debug/ElasticSearchManager.exe.config
GroupBuyServer/ElasticSearchManager/bin/Debug/ElasticSearchManager.vshost.exe
GroupBuyServer/ElasticSearchManager/bin/Debug/ElasticSearchManager.vshost.exe.config
GroupBuyServer/ElasticSearchManager/bin/Debug/FluentNHibernate.dll
GroupBuyServer/ElasticSearchManager/bin/Debug/FluentNHibernate.xml
GroupBuyServer/ElasticSearchManager/bin/Debug/GroupBuyServer.dll
GroupBuyServer/ElasticSearchManager/bin/Debug/Newtonsoft.Json.dll
GroupBuyServer/ElasticSearchManager/bin/Debug/Newtonsoft.Json.xml
GroupBuyServer/ElasticSearchManager/bin/Debug/NHibernate.dll
GroupBuyServer/ElasticSearchManager/bin/Debug/NHibernate.xml
GroupBuyServer/ElasticSearchManager/bin/Debug/System.Net.Http.Formatting.dll
GroupBuyServer/ElasticSearchManager/bin/Debug/System.Net.Http.Formatting.xml
GroupBuyServer/ElasticSearchManager/bin/Debug/System.Web.Http.dll
GroupBuyServer/ElasticSearchManager/bin/Debug/System.Web.Http.WebHost.dll
GroupBuyServer/ElasticSearchManager/bin/Debug/System.Web.Http.WebHost.xml
GroupBuyServer/ElasticSearchManager/bin/Debug/System.Web.Http.xml
GroupBuyServer/ElasticSearchManager/ElasticSearchManager.resx
GroupBuyServer/ElasticSearchManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GroupBuyServer/ElasticSearchManager/obj/Debug/ElasticSearchManager.csproj.FileListAbsolute.txt
GroupBuyServer/ElasticSearchManager/obj/Debug/ElasticSearchManager.csproj.GenerateResource.Cache
GroupBuyServer/ElasticSearchManager/obj/Debug/ElasticSearchManager.csprojResolveAssemblyReference.cache
GroupBuyServer/ElasticSearchManager/obj/Debug/ElasticSearchManager.ElasticSearchManager.resources
GroupBuyServer/ElasticSearchManager/obj/Debug/ElasticSearchManager.exe
GroupBuyServer/ElasticSearchManager/obj/Debug/ElasticSearchManager.Properties.Resources.resources
GroupBuyServer/ElasticSearchManager/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GroupBuyServer/ElasticSearchManager/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GroupBuyServer/ElasticSearchManager/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GroupBuyServer/GroupBuyServer/bin/GroupBuyServer.dll
GroupBuyServer/SeedProject/SeedProject.csproj.user
