.product-card {
    position: relative;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2),0 4px 5px 0 rgba(0,0,0,0.14),5px 10px 10px 1px rgba(0,0,0,0.12);
    transition-property: box-shadow;
    transition-duration: 225ms;
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
}

.homepage .product-card {
    background-color: white !important;
    width: 350px;
    height: 400px;
}

.homepage .product-card img {
    height: 250px;
    margin: 0 auto;
}

.homepage .product-card .product-name {
    color: #03A9F4;
    font-size: 36px;
}

.homepage .product-card .price-box {
    position: absolute;
    right: 0;
    top: 10px;
    width: 100px;
    height: 40px;
    background-color: orange;
    opacity: 0.5;
    color: white;
}

.homepage .product-card .price-box span {
    font-size: 24px;
}