<div layout="row" layout-align="center center" ng-show="loading" style="height: 100%; background: #f5f5f5">
    <md-progress-circular md-mode="indeterminate" md-diameter="124"></md-progress-circular>
</div>
<div flex class="homepage" layout="row" layout-align="center center" ng-show="!loading">
    <md-content flex="80" layout-wrap layout-xs="column" layout="row" layout-align="start center" style="overflow: hidden;background: #f5f5f5;">
        <md-card class="product-card" ng-repeat="product in products" ng-click="gotoProduct(product.id)">
            <md-card-content layout="column" layout-align="space-between">
                <img src={{product.image}} style="width: 100%;" />
                <canvas id="imageCanvas" class="image-canvas"></canvas>
                <span class="product-name">{{sortTitle(product.name)}}</span>
                <p>{{sortContent(product.description)}}</p>
            </md-card-content>
            <div class="price-box" layout="row" layout-align="center center">
                <span>{{product.basicPrice}}</span>
                <span>&nbsp $</span>
            </div>
        </md-card>

    </md-content>
</div>