<!--<div layout="row" flex>
    <div layout="column" flex="70">
        <div layout="row" flex>
            <div layout="column" flex>
                <div ng-repeat="rate in user.sellerRate | limitTo:10">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{rate.commenter}}</span>
                                <span class="md-subhead">{{rate.date}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <span>{{rate.content}}</span>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
        <div layout="row">
            <div ng-show="user.sellerRate.length > 1">
                <md-button ng-click="showSellerComment($event)">
                    show more...
                </md-button>
            </div>
        </div>
    </div>
    <md-divider>
    </md-divider>
    <div layout="column" flex ng-show="true">
        <md-card class="login-card">
            <md-card-title class="login-card-title" layout-align="center center">
                <span class="login-card-title"> Update details</span>
            </md-card-title>
            <md-card-content>
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>First Name</label>
                        <input ng-model="user.FirstName" flex>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container flex ng-model="user">
                        <label>Last Name</label>
                        <input ng-model="user.LastName" flex>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>User Name</label>
                        <input ng-model="user.UserName" flex>
                    </md-input-container>
                </div>
                <div layout="row" flex>
                    <md-input-container flex>
                        <label>Password</label>
                        <input ng-model="user.Password" flex>
                    </md-input-container>
                </div>
                <div ng-show="errorMessage != ''">{{errorMessage}}</div>
                <md-button class="md-raised md-primary login-button" ng-click="updateUser()">Save</md-button>
            </md-card-content>
        </md-card>
    </div>
</div>-->
<div layout="row" flex>
    <div layout="column" flex="25">
        <md-card>
            <img ng-src="images/myAvatar.png" class="md-card-image user-image">
            <md-card-title layout-align="center center" layout="row">
                <md-card-title-text layout-align="center center">
                    <span class="md-headline">{{user.firstName}} {{user.lastName}}</span>
                    <span class="md-subhead">{{user.userName}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div class="md-subhead">Email: {{user.email}}</div>
                <div class="md-subhead">Seller rate: {{user.sellerRate.length}}</div>
                <div class="md-subhead">buyers: {{user.email}}</div>
            </md-card-content>
        </md-card>
    </div>
    <div layout="column" flex="5"></div>
    <div layout="column" flex>
        <div layout="row" flex>
            <div layout="column" flex>
                <md-tabs md-dynamic-height>
                    <md-tab label="My buyer rate">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Tab One</h1>
                            <p> </p>
                        </md-content>
                    </md-tab>
                    <md-tab label="My seller rate">
                        <md-content class="md-padding">
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" flex>

        </div>
    </div>
    <div layout="column" flex="5"></div>
</div>