.user-image-div {
    width: 140px !important;
    height: 140px !important;
    background: gainsboro;
    margin-left: 94px;
    margin-top: 20px;
    border-radius: 75px !important;
}

.default-image {
    margin-left: 15px !important;
    margin-top: 10px !important;
    font-size: 110px !important;
    color: grey;
}

.user-image {
    width: 140px;
    height: 140px;
    border-radius: 75px !important;
}

.profile-page {
   height: 560px !important;
}

.profile-card {
    height: 560px;
}

.bold-label {
    font-weight: bold;
}



