<div layout="column" class="profile-page">
    <div layout="row">
        <md-card class="profile-card">
            <div layout="row" layout-align="center center">
                <div class="user-image-div" layout-align="center center">
                    <img ng-if="currentUser.image" ng-src="{{currentUser.image}}" class="md-card-image user-image">
                    <i ng-if="!currentUser.image" layout-align="center center" class="md-card-image material-icons default-image">person</i>
                </div>
            </div>
            <md-card-title layout-align="start start" layout="column">
                <div layout="row">
                    <md-card-title-text layout-align="center center">
                        <span class="md-headline" style="font-size: 40px; margin-left: auto">{{currentUser.firstName}} {{currentUser.lastName}}</span>
<!--                        <span class="md-subhead">{{currentUser.userName}}</span>-->
                    </md-card-title-text>
                </div>
                <div layout="column" layout-align="center center" flex style="width: 100%; position: relative">
                    <div>
                        <i class="material-icons user-rate-star" style="font-size: 64px">star</i>
                    </div>
                    <span class="user-rate-num">{{userRate()}}</span>
                    <span class="user-rate-reviews">({{reviews.buyerReviews.length + reviews.sellerReviews.length}} reviewers)</span>
                </div>
            </md-card-title>
            <md-card-content>
                <div class="md-subhead" layout="row" style="margin-bottom: 10px">
                    <div layout="column" flex="40">
                        <label class="bold-label">
                            Email
                        </label>
                    </div>
                    {{currentUser.email}}
                </div>
                <div class="md-subhead" layout="row" style="margin-bottom: 10px">
                    <div layout="column" flex="40">
                        <label class="bold-label">
                            Join Date
                        </label>
                    </div>
                    {{dateFormat(currentUser.registerDate)}}
                </div>
                <div ng-show="!isLoggedUser" style=" height: 44px"><span style="color: #fafafa">b</span></div>
                <div ng-show="isLoggedUser" layout="row" class="md-subhead" style="margin-bottom: 10px">
                    <div layout="column" flex="40">
                        <label class="bold-label">
                            Password
                        </label>
                    </div>
                    <input readonly="true" flex="30" type="password" ng-value="currentUser.password" style="border: none; background: #fafafa;"></input>
                    <md-button flex="30" style="width: 0; height: 0" class="md-icon-button" ng-click="changePassword()">
                        <i class="material-icons" style="font-size: 20px">mode_edit</i>
                        <md-tooltip>Change password</md-tooltip>
                    </md-button>
                    
                </div>
            </md-card-content>
        </md-card>
        <md-tabs class="reviews-tabs" flex>
            <md-tab label="My seller reviews">
                <md-content class="md-padding tab-content">
                    <div class="user-reviews" layout="column">
                        <div class="buyer-reviews">
                            <md-card ng-repeat="review in reviews.sellerReviews" class="user-review-card">
                                <div layout="row" layout-align="start center" style="margin-bottom: 8px;">
                                    <span class="reviewer">{{review.reviewer}}</span>
                                    <span class="date"><span style="margin: 0 5px;"> | </span>{{dateFormat(review.publishDate)}}</span>
                                    <div style="margin-left: auto;">
                                        <md-icon ng-repeat="rate in getRatingArray(review.rating) track by $index"
                                                    class="material-icons review-grade">grade</md-icon>
                                    </div>
                                </div>
                                <span>{{review.content}}</span>
                            </md-card>
                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="My buyer reviews">
                <md-content class="md-padding tab-content">
                    <div class="reviews" layout="column">
                        <div layout="row" ng-hide="currentUser == loggedUser" layout-align="start center">
                            <md-input-container style="width: 100%; margin-top: 40px">
                                <label>write a review about the seller</label>
                                <input ng-model="newReview.content">
                            </md-input-container>
                            <star-rating ng-model="newReview.rating" on-rating-select="rating.rateFunction(rating)"></star-rating>
                            <md-icon class="material-icons" ng-click="saveReview()" style="cursor: pointer">send</md-icon>
                        </div>
                        <div class="buyer-reviews">
                            <md-card ng-repeat="review in reviews.buyerReviews" class="user-review-card">
                                <div layout="row" layout-align="start center" style="margin-bottom: 8px;">
                                    <span class="reviewer">{{review.reviewer}}</span>
                                    <span class="date"><span style="margin: 0 5px;"> | </span>{{dateFormat(review.publishDate)}}</span>
                                    <div style="margin-left: auto;">
                                        <md-icon ng-repeat="rate in getRatingArray(review.rating) track by $index"
                                                    class="material-icons review-grade">grade</md-icon>
                                    </div>
                                </div>
                                <span>{{review.content}}</span>
                            </md-card>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
    <div class="suggestions" layout="row" layout-align="start start">
        <md-progress-circular ng-show="loadSuggestions" md-mode="indeterminate"></md-progress-circular>
        <div ng-show="!loadSuggestions" layout="row" class="user-products">
            <suggestion-product class="md-padding" ng-repeat="suggested in suggestionsProducts" product="suggested"></suggestion-product>
        </div>
    </div>
</div>