
.user-image {
    width: 145px !important;
    margin: 16px 98px !important;
    border-radius: 75px !important;
}

.profile-page {
   height: 560px !important;
}

.profile-card {
    height: 560px;
}

.bold-label {
    font-weight: bold;
}



