<div layout="column" layout-align="start center" style="background: #f5f5f5; height: 100%">
    <md-toolbar class="main-toolbar" scroll ng-class="{scrolling:boolChangeClass}" ng-mouseleave="isSearching = false">
        <div class="md-toolbar-tools" style="background: #f5f5f5">
            <div class="logo" ng-class="{scrolling:boolChangeClass}" ng-click="goHome()">
                <h2>
                    <span>
                        Group
                    </span>
                    Buy
                </h2>
            </div>
            <span flex></span>
            <span flex></span>
            <div class="search-box" layout="row" layout-align="center center">
                <md-input-container md-no-float class="md-block search-product">
                    <input ng-model="searchText" placeholder="search a product" style="font-size: 15px;">
                </md-input-container><!--
                <md-input-container class="categories-select">
                    <label>categories</label>
                    <md-select ng-model="selectedCategories" multiple>
                        <md-optgroup>
                            <md-option ng-value="category" ng-repeat="category in categories">{{category}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>-->

            </div>
            <md-button class="md-icon-button" aria-label="search"
                       ng-click="searchClicked()">
                <md-icon class="material-icons md-dark">search</md-icon>
                <md-tooltip>search</md-tooltip>
            </md-button>
            <md-button ng-show="user" class="md-icon-button" aria-label="View Shopping cart" ng-click="viewShoppingCart()">
                <md-icon class="material-icons md-dark">shopping_cart</md-icon>
                <md-tooltip>View Cart</md-tooltip>
            </md-button>
            <div ng-show="!user" class="lock-size" ng-cloak layout="row" layout-align="center center">
                <md-button ng-click="gotoLogin()">LOG IN</md-button>
                <!--                <md-button class="more-button md-fab" style="padding: 0" aria-label="More" ng-click="gotoLogin()">-->
                <!--                    <md-icon class="material-icons user-pic">perm_identity</md-icon>-->
                <!--                </md-button>-->
            </div>
            <div ng-show="user" class="lock-size" ng-cloak layout="row" layout-align="center center">
                <md-fab-speed-dial style="height: 40px !important" class="md-fling" md-open="isOpen" md-direction="down">
                    <md-fab-trigger>
                        <md-button class="more-button md-fab" style="padding: 0" aria-label="More">
                            <md-icon class="material-icons user-pic">perm_identity</md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button aria-label="add post" class="md-fab md-raised md-mini" ng-click="addPost()">
                            <md-icon class="material-icons md-dark">note_add</md-icon>
                            <md-tooltip>Add post</md-tooltip>
                        </md-button>
                        <md-button aria-label="show profile" class="md-fab md-raised md-mini" ng-click="userZone()">
                            <md-icon class="material-icons md-dark">mode_edit</md-icon>
                            <md-tooltip>Show profile</md-tooltip>
                        </md-button>
                        <md-button aria-label="logout" class="md-fab md-raised md-mini" ng-click="logout()">
                            <md-icon class="material-icons md-dark">exit_to_app</md-icon>
                            <md-tooltip>logout</md-tooltip>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </div>
    </md-toolbar>
    <div ui-view layout="column" class="shell-style"></div>
</div>