<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ElasticSearchConnectionString" connectionString="http://localhost:9200"/>
    <add name="ConnectionString" connectionString="Server=.\SQLEXPRESS;Database=GroupBuy;User Id=groupbuy;Password=groupbuy123;" />
  </connectionStrings>
</configuration>