<md-dialog aria-label="Change password" ng-cloak class="change-password-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools dialog-toolBar">
                <h2 style="color: white">Change Password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" style="color: white">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <div layout="column" style="margin: 20px 10px" layout="column" layout-align="center center">
                <md-input-container style="margin: 0; width: 100%">
                    <label>old password</label>
                    <input ng-model="changePassword.old">
                </md-input-container>
                <md-input-container style="margin: 0; width: 100%">
                    <label>new password</label>
                    <input ng-model="changePassword.new">
                </md-input-container>
                <md-input-container style="margin: 0; width: 100%">
                    <label>re-enter new password</label>
                    <input ng-model="changePassword.reNew">
                </md-input-container>
                <md-button ng-click="save()">save</md-button>

                <span ng-show="error" style="color: red">{{errorMessage}}</span>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>