.product-page {
    width: 75%;
    margin: 25px;
    margin-left: 14%;
}

.upload-pic {
    width: 400px;
    height: 450px;
    border: 1px solid gray;
    position: relative;
    margin-left: 10px;

}

.cell-align {
    text-align: center !important;
}

.discount-table {
    border: 0.5px solid grey;
    width: 430px;
}

.add-discount-button {
    min-width: 40px !important;
    color: white !important;
    background: orange !important;
}

.endDate-picker {
    margin-right: 190px;
}

.add-post-button {
    position: fixed !important;
    bottom: 10px !important;
    left: 10px !important;
    color: white !important;
}

.table-header {
    color: white !important;
    padding-right: 47px !important;
    background: orange;
}

.value-cell {
    padding-right: 92px !important;
}

.note-message {
    margin-top: 12px;
    font-size: smaller;
    color: red;
}

canvas {
    width: 400px;
    height: 450px;
    display: inline-block;
}

.button-upload {
    position: absolute;
    z-index: 1000; 
}

.image-canvas {
    padding: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}*/

