<md-dialog aria-label="Buyers" ng-cloak class="buyers-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools dialog-toolBar">
                <h2>Product's Buyers</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="buyer" ng-repeat="buyer in buyers" layout="row" layout-align="start center">
                <span style="margin-right: 8px; cursor: pointer" ng-click="showUser(buyer.id)">{{buyer.fullName}}<span>({{buyer.userName}})</span></span>
                <md-button ng-show="isSeller" style="margin-left: auto" class="md-icon-button" ng-click="deleteBuyer(buyer)">
                    <md-icon class="material-icons">clear</md-icon>
                </md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>