<md-dialog aria-label="Buyers" ng-cloak class="buyers-dialog">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools dialog-toolBar">
                <h2>Product's Buyers</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="buyer" ng-repeat="buyer in buyers" layout="row" layout-align="start center">
                <span>{{buyer.fullName}}</span>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>