.register-card {
    width: 520px;
    padding: 2px;
}

.register-button {
    color: white;
}

.register-card-title {
    color: rgb(3, 169, 244);
    font-size: 25px;
    padding: 10px;
}

.register-icon {
    margin-top: 27px;
    margin-right: 8px;
}

.upload-button {
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
    width: 100%;
}

.click-upload {
    position: absolute;
    color:rgba(0,0,0,0.26);
}

.upload-div {
    margin-bottom: 55px;
    margin-top: 25px;
    margin-left: 3px;
}

.upload-button:hover {
    cursor: pointer;
}

label.upload-button input[type="file"] {
    visibility: hidden;
}