<div flex="50" layout="column" layout-align="center center">
    <md-card class="register-card">
        <md-card-title class="register-card-title" layout-align="start center">
            <span class="register-card-title"> User register</span>
        </md-card-title>
        <md-card-content>
            <div layout="row" flex>
                <i class="material-icons register-icon">person</i>
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="user.lastName" flex>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <i class="material-icons register-icon">vpn_key</i>
                <md-input-container flex>
                    <label>User Name</label>
                    <input ng-model="user.userName" flex>
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input ng-model="user.password" type="password" flex>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <i class="material-icons register-icon">email</i>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="user.email" flex>
                </md-input-container>
            </div>
            <div layout="row" flex>
                <label class="upload-button">
                    <i class="material-icons">image</i>
                    <input id="uploadBtn" type="file" class="upload"/>
                </label>
                <div class="fileUpload md-button md-primary">
                    <md-input-container flex>
                        <label>upload</label>
                        <input id="uploadFile" ng-model="user.image" disabled="disabled"/>
                    </md-input-container>
                </div>
            </div>
                <div ng-show="errorMessage != ''">{{errorMessage}}</div>
                <md-button layout-align="center center" class="md-raised md-primary" style="color: white; width: 100%"
                           ng-click="register(user)">Register</md-button>
</md-card-content>
    </md-card>
</div>