<div layout="row" layout-align="center center" ng-show="loading" style="height: 100%; background: #f5f5f5">
    <md-progress-circular md-mode="indeterminate" md-diameter="124"></md-progress-circular>
</div>
<div flex class="searchpage" layout="row" layout-align="center center" ng-show="!loading">
    <md-content flex="80" layout-wrap layout-xs="column" layout="row" layout-align="start center" style="overflow: hidden;background: #f5f5f5;">
        <md-card class="search-product-card" ng-repeat="product in products" ng-click="gotoProduct(product.id)">
            <md-card-content layout="column" layout-align="space-between">
                <img src={{product.image}} style="width: 100%;" />
                <span class="product-name" ng-bind-html="trustStringAsHtml(product.name)"></span>
            </md-card-content>
            <div class="price-box" layout="row" layout-align="center center">
                <span>{{product.price}}</span>
                <span>&nbsp$</span>
            </div>
        </md-card>
    </md-content>
</div>  
<div layout="row" layout-align="center center">
    <button class="md-primary md-button md-default-theme" ng-click="showMore()" ng-disabled="isShowMoreDisabled">Show more</button>
</div>